#Top{
	color: #343434;
	background-color: #343434;
	font-size: 45px;
}
#Clubo{
	font-size: 80px;
	color: #F26651;
}
#main{
	color: #323232;
	font-size: 30px;
	margin-left: 15px;
	text-decoration: none;
}
#main:hover{
	color: #F26651;
}
#support{
	color: #323232;
	font-size: 30px;
	margin-left: 15px;
	text-decoration: none;
}
#support:hover{
	color: #F26651
}
#Tools{
	background-color: #EDEDED;
}
#Gmail{
	height: 200px;
	width: auto;
}
#mail{
	font-size: 60px;
}
